@import url('./fonts.css');

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  background-color: transparent;
  color: white;
}

.app {
  /* background-image: url('./assets/images/bg.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Para letras */
.text-incrusted {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); /* Sombra */
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6)); /* Efecto de incrustado */
}

/* Para imágenes SVG */
.svg-incrusted {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.6)); /* Efecto de incrustado */
}

@keyframes grow {
  100% { stroke-dashoffset: 0; }
}