:root {
    --primary-color: hsla(0, 0%, 100%, 0.64);
    --secondary-color: hsla(0, 2%, 89%, 0.8);
    --tertiary-color: hsla(0, 0%, 100%, 0.55);
    --quaternary-color: hsla(0, 0%, 100%, 0.41);
    --drop-shadow-color: hsla(0, 0%, 94%, 0.302);
}


.container {
    width: 6.1rem;
    height: 2.5rem;
    position: relative;
}
.square {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    background-image: linear-gradient(
        180deg, rgba(0, 0, 0, 0.00) 10%, 
        var(--primary-color) 70.06%, 
        var(--secondary-color) 100%
    );
    background-image: linear-gradient(
            180deg, rgba(0, 0, 0, 0.00) 10%, 
            var(--primary-color) 70.06%, 
            var(--secondary-color) 100%
        ), 
        linear-gradient(
            180deg, var(--tertiary-color) -28%, 
            var(--quaternary-color) 112.55%, 
            hsla(0, 0%, 0%, 0) 114%
        );
    filter: drop-shadow(0px 3px 1px var(--drop-shadow-color)) drop-shadow(0px 4px 2.5px rgba(0, 0, 0, 0.3));
    border-radius: 4px;
    transition: all 500ms ease-in-out;
}
.square2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-image: linear-gradient(
        180deg, rgba(0, 0, 0, 0.00) 10%, 
        rgba(66, 66, 66, 0.64) 70.06%, 
        rgba(2, 2, 2, 0.8) 112%), 
        linear-gradient(0deg, rgba(71, 0, 0, 0.55) -28%, 
        rgba(17, 17, 17, 0.41) 112.55%, 
        rgba(0, 0, 0, 0.00) 114%
        );
    filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.30)) drop-shadow(0px 4px 5px rgba(3, 0, 0, 0.3));
    transition: all 500ms ease-in-out;
}
.icon {
    position: absolute;
    top: 20%;
    left: 9%;
    width: 1.4rem;
    height: 1.6rem;
    fill: #000000;
}